@model IEnumerable<SalesWebMvc9.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create</a>
</p>

<table class="table ">
    <thead>
        <tr">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("edit", "Edit") |
                    @Html.ActionLink("details", "Details") |
                    @Html.ActionLink("delete", "Delete")
                </td>
            </tr>
        }
    </tbody>
</table>